@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h4{
  margin: 0px;
}

div#timeline-1 {
  transition: all 0.3s ease-in-out;
}

.badge {
  display: inline-block;
  padding: 5px 10px; /* top/bottom and left/right padding */
  background-color: #333;
  border: 0px solid #000; /* black border */
  border-radius: 50px; /* rounded corners */
  font-size: 12px; /* text size */
  max-width: 80%;

}

.partner {
  display: inline-block;
  padding: 10px 0px; /* top/bottom and left/right padding */
  border: 0px solid #000; /* black border */
  border-radius: 50px; /* rounded corners */;
  font-style: italic;

}

.sublocation{
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 0.8em;
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
}

.details{
  margin-top: -35px;
  margin-bottom: 35px;
}

.timeline__content-title {

  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
 
}

.timeline__content-title span {
  font-weight: bold;
}

button {
  border: none;
  color: #302020;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-weight: normal; */
  line-height: 25px;
}

.timeline__content-desc {
  margin-top: 20px;
}

.timeline__content-desc span {
  font-weight: bold;
}

.timeline__text {
  background-color: #7d1e57;
  padding: 3em 2em ;
  margin-top: -10px;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}

.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  /* filter: blur(2px); */
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-10px);
  color: white;
}

.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 40px);
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 40px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  /* filter: blur(0px); */
}

.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }

  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }

  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1571053748382-141b7de59b88?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.timeline-header__title {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
}

.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 5px 0 0 0;
  /* font-weight: normal; */
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
  color: #333333;
  background-color: #ddd
}

.demo-footer a {
  color: #333;
  display: inline-block;
}

/* Common Styles for All Screens */
#floating-nav .items-container {
  position: fixed;
  top: 3vh;
  right: 0px; /* Align to the top right corner */
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  padding: 10px;
  color: white;
  min-width: 400px;
}

#floating-nav:before:hover {
  display: none;
}

.nav-item {
  margin: 5px 0;
  padding-left: 20px;
  position: relative;
}

.nav-item a {
  color: #ccc;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
}

.nav-item a:hover {
  color: #fff;
}

.nav-item:not(.active):hover {
  text-decoration: none;
  font-size: 1.2em;
}

.nav-item.active a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Colored Dots */
.nav-item[data-category="Game-Based Learning"]::before,
.nav-item[data-category="Branding & Demand Generation"]::before,
.nav-item[data-category="Social Franchising of Health Services"]::before,
.nav-item[data-category="Full Timeline"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::before {
  width: 1.01rem;
  height: 1.01rem;
}

.nav-item[data-category="Game-Based Learning"]::before {
  background-color: #7d1e57;
}

.nav-item[data-category="Branding & Demand Generation"]::before {
  background-color: #d7401a;
}

.nav-item[data-category="Social Franchising of Health Services"]::before {
  background-color: #3d7a31;
}

.nav-item[data-category="Full Timeline"]::before {
  background-color: #333333;
}

.hamburger-icon {
  display: none !important; /* Hidden by default */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2000; /* Ensures it's above other elements */
  cursor: poMontserrat;
  font-size: 20px;
  transition: transform 0.5s; /* Smooth transition for rotation */
  color: white;
  /* Circle around the icon */
  background-color: #333; /* Circle's background color */
  border-radius: 50%; /* Makes the background a circle */
  width: 40px; /* Width of the circle */
  height: 40px; /* Height of the circle */
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  padding: 5px; /* Padding around the icon */
}

.hamburger-icon.active {
  transform: rotate(45deg); /* Rotates the icon */
}

.subtitle{
  padding-top: 20px;
  font-weight: bold;
}

span.title{
  font-weight: bold;
  font-size: 1.2em;
}

.hamburger-icon.active::before,
.hamburger-icon.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 2px; /* Thickness of the bars */
  background-color: white; /* Color of the bars */
}

.hamburger-icon.active::before {
  transform: translate(-50%, -50%) rotate(-90deg); /* Positions the first bar */
}

.hamburger-icon.active::after {
  transform: translate(-50%, -50%); /* Positions the second bar */
}

/* Full-Screen Floating Nav for Mobile */
@media only screen and (max-width: 767px) {
  #floating-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(245, 245, 245, 1); /* Semi-transparent background */
    flex-direction: column; /* Stack items vertically */
    justify-content: space-around; /* Evenly distribute space around items */
    align-items: center; /* Center items horizontally */
    padding: 10px 0px; /* Padding for the entire nav */
    max-height: 100vh;
    max-width: 100vw;
    z-index: 3;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
    transform: translateX(
      100%
    ); /* Initially position off-screen to the right */
    display: flex; /* Ensure it's always a flex container */
  }

  #floating-nav.active {
    transform: translateX(0); /* Slide in */
  }

  #floating-nav .items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
    max-width: 100vw;
    padding: 200px 80px;
  }

  #floating-nav .items-container a {
    text-align: start;
    color: #333;
  }

  .nav-item {
    width: 100%; /* Full width for better layout */
    /* text-align: center; Center-align the text */
  }

  nav-item::before {
    margin-left: 120px;
  }

  .nav-item a {
    display: block; /* Makes the link fill the entire width of nav-item */
  }

  .hamburger-icon {
    display: flex !important; /* Show the hamburger icon as a flex container on mobile */
    transition: transform 0.3s; /* Smooth transition for rotation */
  }

  .timeline-header__title {
    font-size: 2.2rem;
  }
}
