@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1;
}

/* NAVBAR */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  background-color: #fff; /* Set to the desired background color */
  height: 109px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 45px; /* Or any other size you want */
  width: auto; /* This will maintain the aspect ratio of the SVG */
  margin: 0px 6px;
  margin-top: -3.8px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  margin-right: -1.5px;
}

.navbar a {
  color: #000; /* Adjust to match the text color for the menu items */
  text-decoration: none;
  padding: 2px 16.7px; /* Adjust the spacing around the links */
  font-size: 0.79em;
  text-transform: uppercase; /* Uppercase menu text */
}

.navbar a:hover {
  color: #7d1e57; /* Change the color for hover state */
  /* text-decoration: underline; Adds underline on hover */
}

/* Responsive design adjustments can be made as well with media queries */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo img {
    margin-bottom: 10px; /* Adds space between logo and navbar on small screens */
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    padding: 5px 0; /* Adjusts padding for stacked menu items */
  }
}

/* END OF NAVBAR */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader {
  display: block; /* Show loader initially */
}

html, body{
  background-color: #333333;
}

.nav-item.home a{
  text-decoration: underline;
  cursor: pointer;
}

/* .nav-item.home{
  padding-top: 1rem;
  cursor: pointer;
} */

h4{
  margin: 0px;
}

div#timeline-1 {
  transition: background-image 0.5s ease-in-out;
}

.category {
  font-weight: bold;
}

.partnerContainer {
  margin-top: -20px;
  font-size: 1.1rem;
}

.partner {
  display: inline-block;
  border: 0px solid #000; /* black border */
  border-radius: 50px; /* rounded corners */;
  font-style: italic;
}

.sublocation{
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 0.8em;
 
}

.headings{
  display: flex;
  margin: 0 auto;
  padding-left: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
  width: 100%;
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
  width: 100%;
}

.details{
  margin-top: -35px;
  margin-bottom: 35px;
}

.button {
  border: none;
  color: #f8f8f8;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

p.desc {
  margin: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-weight: normal; */
  line-height: 25px;
  padding-bottom: 0px;
  margin-bottom: -30px;
 
}

.timeline__content-desc {
  margin-top: 20px;
  margin-bottom: 30px;
}

.timeline__content-desc span {
  font-weight: bold;
}

.timeline__text {
  background-color: #7d1e57;
  padding: 3em 0em ;
  margin-top: -10px;
  width: 600px;
  max-width: 100%;
  font-size: 0.8rem;
}

.long .subtitle{
  font-size: 2.5em;
}





/*The vertical line*/
.timeline:before {
  position: absolute;
  left: 30%;
  top: 25px;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  /* background: rgba(255, 255, 255, 0.07); */
  background: #f8f8f8;
}

@media only screen and (max-width: 767px) {

}



.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  /* filter: blur(2px); */
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(66% -0px);
  display: flex;
  position: relative;
  transform: translateY(-10px);
  color: white;
  align-self: center;
  margin-left: 310px;
  margin-bottom: 300px;

}

.timeline-item.long p.subtitle{
  padding-top: 40px;
}

.timeline-item.long p.desc{
  padding: 0px;
  
}

.timeline-item.long button{
  margin-top: 28px;
}

.timeline-item.long .partnerContainer{
  display: none;
}





/* .timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  min-height: 20px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  color: #f8f8f8;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 40px);
} */

.year{
  /* content: attr(data-text); */
  /* letter-spacing: 3px; */
  /* min-height: 20px;
  width: 100%; */
  position: absolute;
  /* color: rgba(255, 255, 255, 0.5); */
  color: #f8f8f8;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  /* top: 50%; */
  /* margin-top: -5px; */
  padding-left: 15px; 
  left: calc(-124.1%);
  display: flex;
  flex-direction: row;
  align-items: center;  
  z-index: 3;
}

.year h3 {
  width: 632px;
  font-weight: bold;
  text-align: right;
  transition: all 0.5s ease-in-out;
  font-size: 3.5rem;
  margin: 33px 0px;
}

.timeline-item--active .year h3 {
  font-size: 3.6rem;
 
}

.year div{
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  position: absolute;
  left: calc(105%);
}

.title, .subtitle{
  line-height: 1.2;
}

.timeline-item--active .year div {
  background-color: #f8f8f8;
}

.timeline-item::before {
  right: auto;
  text-align: right; 
  /* left: calc(-100% - 40px); */
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 50px;
  opacity: 1;
  left: -109.5%;
  font-size: large;
  color: white;
  transition: opacity 0.3s ease, top 0.3s ease, font-size 0.3s ease; 

}



.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
}



.timeline-item--active::before {
  top: 50%;

  opacity: 1;
  font-size: 3em;
  font-weight: bold;

}

div.divider{
  width:100%;
  height: 6px;  
  margin: 10px 0px;

}

@media only screen and (max-width: 767px) {
 
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
    flex-direction: column;
  }

  .title, .subtitle{
    line-height: 1.4;
  }
  

  .timeline-item--active .year h3 {
    font-size: 2rem;
    margin: 12px 0px;
  }

  .timeline:before {
    left: 40px;
    top: 0px;
  }

  .headings{
    display: flex;
    margin: 0 auto;
    padding-left: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1000px;
    position: absolute;
    top: 30px;
    width: 100%;
  }

  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }

  .timeline-item:last-child {
    padding-bottom: 40px;
  }

  .timeline__text {
    background-color: #7d1e57;
    padding: 3em 0em ;
    margin-top: -10px;
    max-width: 90%;
    font-size: 10px;
  
  }

  .year{
    margin-left: 0px;
    flex-direction: row-reverse;
    font-size: 2rem;
    position: absolute;
    left: 14px;
    width: 100;
  }

  .year h3{
    width: 400px;
    position: absolute;
    left: 65px;
    text-align: left;
    /* margin-bottom: 50px; */
    line-height: normal;
    max-width: 75vw;
    font-size: 1.5rem;
    margin: 0px
  }

  .year div{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    position: absolute;
    left: calc(109%);
  }

  .year h3{
    /* font-size: 1.2em; */
  }

}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: none;
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./assets/1.jpg");
 min-height: 100vh;
}



.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  position: relative;
}



.timeline-header__title {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  /* text-align: center; */
  
}

.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 10px 0 0 0;
  /* font-weight: normal; */
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
  color: #ddd;
  background-color: #121212
}

.demo-footer a {
  color: #ddd;
  display: inline-block;
}

/* Common Styles for All Screens */
#floating-nav .items-container {
  position: fixed;
  bottom:40px;
  left: 40px; /* Align to the top right corner */
  border-radius: 10px;
  z-index: 0;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  padding: 10px;
  color: white;
  min-width: 400px;
  transition: opacity 0.5s ease-out; /* Adjust the time as needed */
  opacity: 0; 

}

#floating-nav:before:hover {
  display: none;
}

.nav-item {
  margin: 5px 0;
  padding-left: 20px;
  position: relative;
}

.nav-item a {
  color: #ccc;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  margin: 10px;
}

.nav-item a:hover {
  color: #fff;
}

.nav-item:not(.active):hover {
  text-decoration: none;
  font-size: 1.2em;
}

.nav-item.active a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Colored Dots */

.nav-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::before {
  width: 1.01rem;
  height: 1.01rem;
}

.nav-item[data-category="Interactive Learning"]::before {
  background-color: #d7401a;
}

.nav-item[data-category="Branding & Demand Generation"]::before {
  background-color: #e8a425;
}

.nav-item[data-category="Social Franchising of Health Services"]::before {
  background-color: #3d7a31;
}

.nav-item[data-category="Full Timeline"]::before {
  background-color: #f8f8f8;
}

.nav-item[data-category="Policy Guidance & Advisory"]::before {
  background-color: #1471f6;
}


.hamburger-icon {
  display: none !important; /* Hidden by default */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2000; /* Ensures it's above other elements */
  cursor: poMontserrat;
  font-size: 20px;
  transition: transform 0.5s; /* Smooth transition for rotation */
  color: white;
  /* Circle around the icon */
  background-color: #333; /* Circle's background color */
  border-radius: 50%; /* Makes the background a circle */
  width: 40px; /* Width of the circle */
  height: 40px; /* Height of the circle */
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  padding: 5px; /* Padding around the icon */
}

.hamburger-icon.active {
  transform: rotate(45deg); /* Rotates the icon */
}

.title_content{
  font-size: 1.3em;
}


.title{
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 40px 0px;

}

.subtitle{
  margin: 0px;
  padding: 0px;
  /* padding-bottom: 20px; */
  font-weight: bold;
  font-size: 3.5em;
  margin-top: -45px;
}

span.title{
  font-weight: bold;
  font-size: 1.2em;
}

.location {
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: bold;
  
}

.location, .category{
  font-size: 1.2em;
  /* line-height: 1; */
}

.location span {
  font-weight: bold;
}

.desc{
  padding-bottom: 40px;
  font-size: 1.1rem;
  padding-top: 30px;
}


.hamburger-icon.active::before,
.hamburger-icon.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 2px; /* Thickness of the bars */
  background-color: white; /* Color of the bars */
}

.hamburger-icon.active::before {
  transform: translate(-50%, -50%) rotate(-90deg); /* Positions the first bar */
}

.hamburger-icon.active::after {
  transform: translate(-50%, -50%); /* Positions the second bar */
}

.hero-section {
  background-image: url('assets/1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  position: relative;
  background-position: center center;
}
.hero-section .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  max-width: 50%;
  padding: 20px;
}
.hero-section::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
.border-area {
  display: flex;
}
.border-line {
  height: 16px;
  flex: auto;
}
.border-line.border1 {
  background-color: #7d1e57;
}
.border-line.border2 {
  background-color: #d7401a;
}
.border-line.border3 {
  background-color: #e8a425;
}
.border-line.border4 {
  background-color: #3d7a31;
}
.border-line.border5 {
  background-color: #1371f7;
}
/* Full-Screen Floating Nav for Mobile */
@media only screen and (max-width: 767px) {
  .timeline-container {
    background-attachment: scroll;
  }
  #floating-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #fff; 
    color: #000;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-around; /* Evenly distribute space around items */
    align-items: center; /* Center items horizontally */
    padding: 10px 0px; /* Padding for the entire nav */
    max-height: 100vh;
    max-width: 100vw;
    z-index: 3;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
    transform: translateX(
      100%
    ); /* Initially position off-screen to the right */
    display: flex; /* Ensure it's always a flex container */
    
  }

  header{
    display: none;
  }

  .category, .location {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .title{
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .long .subtitle{
    font-size: 1.4em;
  }

  .desc {
    font-size: 1rem;
  }

  #floating-nav.active {
    transform: translateX(0); /* Slide in */
  }

  #floating-nav .items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    padding: 200px 0px;
    top: 0px;
    left: 40px;

  }

  #floating-nav .items-container a {
    text-align: start;
    color: #000;
  }

  header.header{
    display: none;
  }

  .nav-item {
    width: 100%; /* Full width for better layout */
    /* text-align: center; Center-align the text */
    max-width: 100%;
  }

  nav-item::before {
    margin-left: 120px;
  }

  .nav-item a {
    display: block; /* Makes the link fill the entire width of nav-item */
    max-width: 70%;
    cursor: pointer;
  }



  .hamburger-icon {
    display: flex !important; /* Show the hamburger icon as a flex container on mobile */
    transition: transform 0.3s; /* Smooth transition for rotation */
  }

  .timeline-header__title {
    font-size: 2.2rem;
  }

  .timeline-item {
    margin: 0px;
    flex-direction: column;
    font-size: 1.5rem;
  }

  .timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .hero-section .hero-text {
    max-width: 100%;
    font-size: 36px;
    line-height: 52px;
  }

}
