@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
}

.timeline__content-title {
  font-weight: normal;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.timeline__content-title span {
  font-weight: bold;
}

button {
  border: none;
  color: #302020;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 6px;
}

.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
  font-weight: normal;
  line-height: 25px;
}

.timeline__content-desc span {
  font-weight: bold;
  color: #fff;
}

.timeline__text {
  background-color: #7d1e57;
  padding: 2em;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}

.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  /* transform: translateY(-10px); */
}

.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }

  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }

  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
  
}

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: Cardo;
  font-weight: normal;
  margin: 0;
}

.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
  background-color: #333333;
  
}

.demo-footer a {
  color: #ddd;
  display: inline-block;

  
}

/* Common Styles for All Screens */
#floating-nav {
  position: fixed;
  top: 3vh;
  right: 0px; /* Align to the top right corner */
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  padding: 10px;
  color: white;
  min-width: 400px;
}

#floating-nav:before {
  display: none;
}

.nav-item {
  margin: 5px 0;
  padding-left: 20px;
  position: relative;
}

.nav-item a {
  color: #ccc;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-item a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

/* Colored Dots */
.nav-item[data-category="Game-Based Learning"]::before,
.nav-item[data-category="Demand Generation"]::before,
.nav-item[data-category="Social Franchising of Health Services"]::before,
.nav-item[data-category="All"]::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.nav-item[data-category="Game-Based Learning"]::before {
  background-color: #7d1e57;
}

.nav-item[data-category="Demand Generation"]::before {
  background-color: #d7401a;
}

.nav-item[data-category="Social Franchising of Health Services"]::before {
  background-color: #3d7a31;
}

.nav-item[data-category="All"]::before {
  background-color: #333333;
}

.hamburger-icon {
  display: none !important; /* Hidden by default */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2000; /* Ensures it's above other elements */
  cursor: pointer;
  font-size: 30px;
  color: white;

  /* Circle around the icon */
  background-color: #333; /* Circle's background color */
  border-radius: 50%; /* Makes the background a circle */
  width: 50px; /* Width of the circle */
  height: 50px; /* Height of the circle */
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  padding: 5px; /* Padding around the icon */
}


/* Full-Screen Floating Nav for Mobile */
@media only screen and (max-width: 767px) {
  #floating-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9); /* Semi-transparent background */
    display: none; /* Hidden by default */
    flex-direction: column; /* Stack items vertically */
    justify-content: space-around; /* Evenly distribute space around items */
    align-items: center; /* Center items horizontally */
    padding: 10px 0px; /* Padding for the entire nav */
    max-height: 100vh;
  }

  .nav-item {
    width: 100%; /* Full width for better layout */
    text-align: center; /* Center-align the text */
  }

  nav-item::before{
    margin-left: 120px;
  }

  .nav-item a {
    display: block; /* Makes the link fill the entire width of nav-item */
  }

  .hamburger-icon {
    display: flex !important; /* Show the hamburger icon as a flex container on mobile */
  }
}

